KEY_ID="the 'key_id' of the appstore connect api key"

ISSUER_ID="the 'issuer_id' of the appstore connect api key"

KEY_CONTENT="the content of the p8 file of the appstore connect api key"

BUNDLE_IDENTIFIER="the bundle identifier as it is from xcode"

GIT_URL="the private git repository url of where the certificates are located"

MATCH_GIT_BASIC_AUTHORIZATION="base64 string that fastlane uses for authorization with github. create this string by using this cammand
'echo -n your_github_username:your_personal_access_token | base64'"