ANDROID_PACKAGE_NAME="the 'applicationId' from the module-level build.gradle"

ANDROID_SERVICE_ACCOUNT_JSON_FILE="path to the service account json file. 
to create a service account go to 
1. 'Google Play Console' -> Setup -> API Access 
2. Under 'Credentials' press the 'Learn how to create service account'. it's a realy short process."

To create a keystore file, alias, and their passwords go to 
"https://developer.android.com/studio/publish/app-signing#generate-key"

ANDROID_KEYSTORE_FILE="the path to the ketstore.jks file"
ANDROID_KEY_STORE_PASSWORD="password for the keystore"
ANDROID_KEYSTORE_ALIAS="alias name of the keystore"
ANDROID_KEYSTORE_ALIAS_PASSWORD="password for the alias keystore. should be the same password as the keystore password"