name: build-and-depoly-android-app
on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
jobs:
  build-and-depoly:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: '16'

      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu' # See 'Supported distributions' for available options
          java-version: '17'

      - run: bundle install
      - run: npm ci --legacy-peer-deps

      - name: Decode Service Account Key JSON File
        uses: timheuer/base64-to-file@v1
        id: service_account_json_file
        with:
          fileName: 'serviceAccount.json'
          encodedString: ${{ secrets.ANDROID_SERVICE_ACCOUNT_JSON_FILE }}

      - name: Decode Keystore File
        uses: timheuer/base64-to-file@v1
        id: android_keystore
        with:
          fileName: 'android_keystore.jks'
          encodedString: ${{ secrets.ANDROID_KEYSTORE_FILE }}
      - run: cd android && gradlew clean && cd ../
      - name: Build & deploy Android release
        run: cd android && fastlane beta
        env:
          ANDROID_KEYSTORE_FILE: ${{ steps.android_keystore.outputs.filePath }}
          ANDROID_KEY_STORE_PASSWORD: ${{ secrets.ANDROID_KEY_STORE_PASSWORD }}
          ANDROID_KEYSTORE_ALIAS: ${{ secrets.ANDROID_KEYSTORE_ALIAS}}
          ANDROID_KEYSTORE_ALIAS_PASSWORD: ${{ secrets.ANDROID_KEYSTORE_ALIAS_PASSWORD }}
          ANDROID_SERVICE_ACCOUNT_JSON_FILE: ${{ steps.service_account_json_file.outputs.filePath }}
          ANDROID_PACKAGE_NAME: ${{ secrets.ANDROID_PACKAGE_NAME}}
