name: build-ios-app
on:
  push:
    branches:
      - 'main'
jobs:
  build:
    runs-on: macos-latest
    steps:
       - uses: actions/checkout@v3
       - uses: actions/setup-node@v3
         with:
           node-version: '16'
       - name: upload to testflight 
         run: fastlane beta
         env:
            KEY_ID: ${{ secrets.KEY_ID }}
            ISSUER_ID: ${{ secrets.ISSUER_ID }}
            KEY_CONTENT: ${{ secrets.KEY_CONTENT }}
            BUNDLE_IDENTIFIER: ${{ secrets.BUNDLE_IDENTIFIER }}
            GIT_URL: ${{ secrets.GIT_URL }}